<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Instagram</title>
  <link rel="stylesheet" href="/style.css">
  
</head>
<body>
  <h1>Profile Name : <%= data.name %></h1>
  <button>Follow</button>
  <button>Message</button>

  <div style="display:flex; gap:20px;">
    <h2>Following: <%= data.following %></h2>
    <h2>Followers: <%= data.followers %></h2>
  </div>

  <hr>

  <div class="posttt">
    <% for(let post of data.posts){ %>
      <div class="post">
        <img src="<%= post.image %>" alt="Post image">
        <h4>Likes: <%= post.likes %> | Comments: <%= post.comments %></h4>
      </div>
    <% } %>

  </div>

  <%- include("footor") %>

  
 <!-- <%- include("folder-name/file") %> in EJS is used to reuse common parts of your site (like headers, navbars, or footers) -->
  <!-- so you don’t repeat the same code in every page. -->


</body>
</html>
